/* Desktop-desing */
body {
    width:  1440px;
    background-color: white;
    background-image: url(./images/bg-main-desktop.png);
    background-repeat: no-repeat;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
}

#img-card-front {
    position: absolute;
    top: 13em;
    left: 13em;
}

#img-card-logo {
    position: absolute;
    top: 15em;
    left: 15.5em;
}

#num-card-front {
    position:absolute ;
    top: 10.3em;
    left: 6.7em;
    font-size: 30px;
    color: white;
    letter-spacing: 2.5px;
}

#name-card-front {
    text-transform: uppercase;
    position:absolute ;
    top: 23.5em;
    left: 12.5em;
    font-size: 16px;
    color: white;
    letter-spacing: 3px;
}

#exp-card-front {
    position:absolute ;
    top: 23.5em;
    left: 33em;
    font-size: 16px;
    color: white;
    letter-spacing: 3px;
}

#img-card-back {
    position: absolute;
    top: 34em;
    left: 20em;
}

#cvv-card-back {
    position:absolute ;
    top: 35.5em;
    left: 38.5em;
    font-size: 16px;
    color: white;
    letter-spacing: 3px;
}

form {
    display: block;
    width: 25em;
    position:absolute ;
    top: 14em;
    left: 47em;
}

form label {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 3px;
    color: hsl(278, 68%, 11%);
    padding: 10px;
}

form input {
    display: inline-block;
	margin: 0 5px 15px 10px;
	padding: 12px 0 12px 15px;
    border-radius: 8px;
    border: 2px;
    border-style:solid;
    border-color: hsl(270, 3%, 87%);
    outline-color: hsl(278, 94%, 30%);
    color: hsl(278, 68%, 11%);
}

form input::placeholder {
    color: hsl(270, 3%, 87%);
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: bold;
}

#input-name, #input-num {
    width: 24.9em;
}

.label-menor {
    display: inline-block;
}

#label-cvv {
    margin-left: 20px;
}

.input {
    display: inline-block;
}

#input-mm, #input-aa {
    width: 5em;
}

#input-mm {
    margin-right: 0.4em;
}

#input-aa {
    margin-left: 0;
    margin-right: 10px;
}

#input-cvv {
    width: 130px;
}

#confirmar {
    background-color: hsl(278, 68%, 11%);
    color: white;
    border: none;
    margin: 20px 10px;
    padding: 18px 137px;
    letter-spacing: 1px;
    font-size: 16px;
}

/* active-states */
